nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    max-width: 1200px;
    margin: auto;
    counter-reset: #FFFFFF;
}
ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
a{
    text-decoration: none;
    color: #0D1B2A;
}
.common-btn{
    background-color: #1D4ED8;
    color: #FFFFFF;
    align-items: center;
    padding: 10px 8%;
    width: 105px;
    border: none;
    border-radius: 8px;
}

header{
    background-image: url('./assets/banner.jpg');
    height: 90vh;
    background-size: cover;
    background-position: center;
    width: 100%;
}
